// FONT SIZE
$default-font-size: 1.6rem;
$default-icon-size: 2rem;
$nav-font-size: 1.3rem;

// COLOR
$primary-color: #6f4e37;
$primary-text-color: #212529;
$border-bottom-color: #f0f2f7;
$header-color: #fff;
$header-scroll-color: rgba(255,255,255,0.9);
$grey: #818b92;
$footer-color: #222222;


// GRID
$default-width: 1600px;
$primary-vertical-margin: 10%;
$default-horizontal-margin: 19rem;
$default-margin: 8rem;
$margin-fluid: 14rem;

$footer-height: 25rem;
// $page-margin-left: 
// $page-margin-right: