.menu {
  padding-top: $default-margin !important;
  padding-bottom: $default-margin !important;
  &__box {
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: 0 auto $default-margin auto !important;
    &__title {
      font-size: 5rem;
      font-weight: 700;
    }
    &__description {
      width: 80% !important;
      font-size: 1.6rem;
    }
  }
}

.menu-item {
  position: relative;
  margin-bottom: 2rem;
  cursor: pointer;
  &__out-of-stock {
    position: absolute;
    font-size: 2rem;
    color: red;
    rotate: -48deg;
    top: 25%;
    left: 40%;
    font-weight: 700;
    z-index: 10;
  }
  &__pre-order {
    position: absolute;
    right: 30%;
    font-size: 1.4rem !important;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted $primary-color;
    width: 83.3333%;
    &__name {
      font-weight: 600;
    }

    &__price {
      color: $primary-color;
    }
  }

  &__ingredients {
    margin-top: 0.5rem;
    color: $grey;
    font-size: 1.5rem;
  }
}

$menu-margin-bottom: 1.5rem;
@media only screen and (max-width: 600px) {
  .menu {
    &__row {
    }
    &__col {
      display: inline-grid;
      width: 100% !important;
      // margin-bottom: $menu-margin-bottom;
    }
    &__box {
      width: 90%;
      margin: 0 auto 3rem auto !important;
      &__title {
        margin-bottom: $menu-margin-bottom;
        font-size: 5rem;
      }
      &__description {
        width: 75% !important;
      }
    }
  }

  .menu-item {
    &__out-of-stock {
      left: 45%;
      rotate: -45deg;
    }
    &__pre-order {
      right: 16%;
      top: 2%;
      font-size: 1.2rem !important;
    }
    &__info {
      width: 100%;
      &__name {
        // font-size: 1rem;
      }

      &__price {
        // font-size: 1rem;
      }
    }
    &__price {
    }
  }
}
