*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.margin {
  padding: 0 $default-margin !important;
}

.margin-fluid {
  padding: 0 $margin-fluid !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .margin {
    padding: 0 2rem !important;
  }
  .margin-fluid {
    padding: 0 !important;
  }
}
